@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

$primary-color: #1890ff;

  body{
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: auto;
  }
  
  .content-box{
    padding: 32px;
    display: flex;
    flex-direction: column;
    .date-picker{
      margin-bottom: 1.5em;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      h4{
        margin: 0 6px 0 0;
      }
      input{
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 4px 8px;
        border: 1px solid #e0e0e0;
        :focus{
          border: 1px solid $primary-color;
        }
}
    }  
  }